DISCORD_TOKEN=PASTE_YOUR_BOT_TOKEN_HERE
GUILD_ID=123456789012345678
STATUS_CHANNEL_ID=123456789012345678
UPDATES_CHANNEL_ID=123456789012345678
ALERTS_CHANNEL_ID=123456789012345678
BRIDGE_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
MAX_PLAYERS=50
REGION=EU
SERVER_NAME=Aincrad Style
GM_NAME=PRECISION
HEARTBEAT_TIMEOUT=95
HTTP_HOST=0.0.0.0
HTTP_PORT=8787
